@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "futura bold";
  src: url(./fonts/futura/futura\ medium\ bt.ttf);
}

@font-face {
  font-family: "futura";
  src: url(./fonts/futura/futura\ light\ bt.ttf);
}